.swiper_layout_apart{
    width: 100%;
    margin-top: 150px;
    border-radius: 50px;
    box-shadow: 0 0px 64px -4px hsl(222, 53%, 19%, 0.12),
    0 8px 22px -6px hsla(222, 53%, 19%, 0.12) ;
    padding: 90px 0 120px;
}
.container_slider{
    max-width: var(--maxwidth);
    margin: auto;
}
.container_slider .heading_planirovka{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_slider .heading_planirovka h1{
     font-size: 60px;
     font-weight: 600;
     color: #595959;
}
.container_slider .heading_planirovka .fraction_swiper span{
    display: inline-block;
    color: #1E2832;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.swiper_layout_apart .main_swiper{
    margin-top: 100px;
}
.swiper_layout_apart .main_swiper .swiper-wrapper {
    overflow: visible;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: start;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide .image_swiper{
    max-width: 744px;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide .image_swiper img{
    width: 100%;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide .properties{
    margin-left: 90px;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide .properties .heading h1 {
    font-size: 60px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
    color: var(--goldColor);
    opacity: .65;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide .properties .propertiesFlexbox{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 45px;
    row-gap: 25px;
    margin-top: 70px;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide .properties .propertiesFlexbox div span{
    font-size: 18px;
    font-weight: 300;
    color: var(--goldColor);
    opacity: .65;
    font-family: "Unbounded", sans-serif;
}
.swiper_layout_apart .main_swiper .swiper-wrapper .swiper-slide .properties .propertiesFlexbox div h2{
    font-size: 36px;
    font-weight: 500;
    color: var(--goldColor);
    opacity: .65;
    font-family: "Unbounded", sans-serif;
    margin-top: 4px;
}
.buttons_click_swipe{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 90px;
}
.buttons_click_swipe .floor_and_number_of_rooms{
    display: flex;

}
.parag_heading_style{
    position: relative;
    z-index: 1;
}
.buttons_layout{
    margin-left: 40px;
}
.parag_heading_style p{
    font-size: 18px;
    color: #1E2832;
    font-weight: 400;
}
.parag_heading_style .buttons_floor_swipe{
    border: 3px solid #CDCDCD;
    border-radius: 100px;
    padding: 4px;
    z-index: 1;
    margin-top: 14px;
}
.parag_heading_style .buttons_floor_swipe .child_btns_floor{
    position: relative;
    display: flex;
    z-index: 1;
}
.parag_heading_style .buttons_floor_swipe .child_btns_floor button{
    border: none;
    padding: 14px 29px;
    border-radius: 100px;
    color: #1E2832;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}

.parag_heading_style .buttons_floor_swipe .swiper{
    background-color: transparent;
    border-radius: 100px;
    z-index: 1;
}
.parag_heading_style .buttons_floor_swipe  .swiper-wrapper .swiper-slide{
    border: none;
    padding: 14px 29px;
    color: #1E2832;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    border-radius: 100px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_color_buttons_swipe{
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 63px;
    height: 100%;
    background-color: var(--goldColor);
    opacity: .250;
    transition: .3s;
}
.bg_color_buttons_swipe_2{
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 72px;
    height: 100%;
    background-color: var(--goldColor);
    opacity: .250;
    transition: .3s;
}