#news_page_main{
    position: relative;
    padding: 80px 0 100px;
    margin-top: 150px;
}
#news_page_main .maxwidth_news{
    position: relative;
    max-width: var(--maxwidth);
    margin: auto;
}
.news_page_header .text_and_line{
    position: relative;
    display: flex;
    align-items: end;
    width: 220%;
}
.news_page_header .text_and_line h1{
    position: relative;
    color: #000;
    font-size: 62px;
    flex-shrink: 0;
    font-weight: 600;
}
.news_page_header .text_and_line span{
    background-color: #5959593e;
    height: 1px;
    display: block;
    width: 100%;
    margin-left: 35px;
}
.parent_news_item{
    display: grid;
    gap: 40px;
    justify-items: flex-end;
    margin-top: 80px;
}
.parent_news_item .news{
    max-width: 600px;
    height: 350px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 14px 24px hsla(222, 52%, 19%, 0.12),
    0 8px 24px hsla(222, 52%, 19%, 0.12);
}
.parent_news_item .news .text_news_date{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parent_news_item .news .text_news_date .text_title_news h1{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}
.parent_news_item .news .text_news_date .text_title_news p{
    font-size: 14px;
    font-weight: 400;
    color: hsla(210, 25%, 16%, 0.600);
    line-height: 22.4px;
}
.parent_news_item .news .text_news_date .date_news{
    font-weight: 400;
    color: hsla(210, 25%, 16%, 0.600);
}
.parent_news_item .news:nth-child(1){
    background-color: hsla(210, 25%, 16%, 0.75);
    max-width: 800px !important;
    grid-column: 1/3;
  
}
.parent_news_item .news:nth-child(1) p{
    color: hsla(0, 0%, 100%, 0.405) !important;
}
.parent_news_item .news:nth-child(1) h1{
    color: #fff;
}
.parent_news_item .news:nth-child(2){
    grid-column: 1/2;
}
.parent_news_item .news:nth-child(3){
    grid-column: 2/4;
}

.parent_news_item .page_linkTo_news{
    background-color: rgb(255, 255, 255);
    grid-row: 1;
    grid-column: 3;
    max-width: 400px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 14px 24px hsla(222, 52%, 19%, 0.12),
    0 8px 24px hsla(222, 52%, 19%, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parent_news_item .page_linkTo_news h1{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}
.parent_news_item .page_linkTo_news p{
    font-size: 14px;
    font-weight: 400;
    color: hsla(210, 25%, 16%, 0.600);  
    line-height: 22.4px;
}
.parent_news_item .page_linkTo_news .btn_link_to_news a{
    display: inline-block;
    text-decoration: none;
    padding: 19px 26px;
    background-color: hsla(210, 25%, 16%, 0.25);
    border-radius: 35px;
    color: #fff;
}
.loading_spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;
}