@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    width: 100%;
}
.container{
    opacity: 0;
}

/* back to page style */

.back_res_page{
    max-width: var(--maxwidth);
    margin: auto;
}
.back_res_page a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--maincolor);
    font-size: 14px;
}
.back_res_page a svg{
    background-color: red;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #EFF1F8;
    color: hsla(210, 25%, 16%, 0.25);
    margin-right: 12px;
    transition: .3s;
}
.back_res_page a:hover svg{
    color: var(--maincolor);
}

.containerLogin{
    position: relative;
    background-image: url("./pages/PagesMain/Home/homePage.webp");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: 200%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLogin::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.047);
    z-index: -1;
}
